@font-face {
  font-family: 'Qualy-Bold';  
  src: url('../public/Qualy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../public/Gilroy-Medium.otf')
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

text{
  cursor: pointer;
}
